
.focus {
  transition: transform 0.3s;
}

.focus:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 3.5em;
  font-weight: 500;
}

.image-style {
  width: 4em;
}

.font-details {
  font-size: 3em;
  font-weight: 500;
  color: #0c0a1af8;
}

.font-details-b {
  font-size: 3em;
  font-weight: 500;
  color: #0c0a1af8;
}

.f-size{
  font-size:30px;
}

.subTitle{
  text-align: center;
  font-size: 25px;
}